/* Reset some default styles in browsers */
body, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f4f4f4;
    color: #555;
    line-height: 1.6;
}

/* Navigation Styles */
nav {
    background: linear-gradient(45deg, #a777e3, #6e8efb);
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-bottom: white 3px solid;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Header Styles */
header {
    background: linear-gradient(45deg, #a777e3, #6e8efb);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.container {
    width: 50%;
    margin: auto;
}

/* Main Section Styles */
main {
    padding: 30px 0;
}

.model-card {
    background: #fff;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 2px 2px 12px #aaa;
}

.btn {
    display: inline-block;
    background: linear-gradient(45deg, #6e8efb, #a777e3);
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    transition: background-color 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
    background: linear-gradient(45deg, #a777e3, #6e8efb);
}
/* 
.navbar_link{
    transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar_link:hover{
    color: rgb(206, 206, 206);
} */

.navbar_link {
    /* ... existing properties ... */
    position: relative; /* Set to relative so we can absolutely position ::before relative to it */
    transition: color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); /* Updated transition */
}

.navbar_link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* Center the element */
    transform: translateX(-50%); /* Center the element */
    height: 2px;
    width: 0; /* Initially the width is 0 */
    background: #ffffff;
    transition: width 0.4s ease;
}

.navbar_link:hover {
    color: #ffffff;
}

.navbar_link:hover::before {
    width: 100%; /* On hover, the width of ::before becomes 100% */
}